*{ margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    font-family: sans-serif; 
    margin: 0 auto;
    padding-bottom: 1rem; 
}
a{
    text-decoration: none;
}

.scroll {
    margin:4px, 4px;
    padding:4px;
    width: 360px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.flex {
    display: flex;
}

.grid {
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 0.2rem;
padding: 0 1rem;
}
.navbar {
    background: #f7f8f8;
    grid-template-areas: "content content content content content content";
}
.content {
    grid-area: content;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.logo {
    max-height: 48px;
    padding-left: 1rem;
}

.menu {
    justify-content: space-between;
    gap: 2rem;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Shentox, sans-serif;
    color: rgba(0, 0, 0, 0.644);
}
.content ul li:hover {
    color: black;
    cursor: pointer;
}
.newsletter {
    padding-right: 1rem;
}
.sub-header {
    max-height: 50px;
    background-color: #f4d330;
    font-size: 11px;
    padding: 1rem;
}
.sub-header:hover{
    cursor: pointer;
}
.grid-logo {
grid-template-areas: "logo-large logo-large logo-large logo-text logo-text logo-text";
align-self: center;
margin-top: 5rem;
background-color: white;
}

.logo-large {
    grid-area: logo-large;
    justify-self: center;
}
.logo-text {
    grid-area: logo-text;
    justify-self: center;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.658);
}


.grid-articles {
    grid-template-areas: "article-left article-left article-left article-right article-right article-right";
    justify-items: right;
    padding:5rem 25rem;
}

.grid-articles a {
    color: white;
}

.article-left {
    grid-area: article-left;

}


.article-right {
    grid-area: article-right;

}

.article-one {
    position: relative;
    height: 376px;
    width: 764px;
    background: url(/assets/images/image.jpeg) no-repeat;
    background-size: cover;
    box-shadow: inset 200px 200px 200px 200px #0d0d0e6e; /* mark the inset */
    margin: 1rem;

    
}
.label {
    color: white;
}
.article-two {
    background-size: cover;
    margin: 1rem;
}
.article-two:hover {
    cursor: pointer;
}
.label-one {
    position: absolute;
    top: 15rem;
    padding-left: 1.2rem;
    color: white;
 
}
.title-one {
    padding-left: 1rem;
    position: absolute;
    font-size: 32px;
    color: white;
    font-weight: 900;
    top: 17.5rem
}
.article-three { 
    background: url(/assets/images/image3.jpeg) no-repeat;
    background-size: cover;
    height: 248px;
    margin-top: 1rem; 
    position: relative;
    box-shadow: inset 200px 200px 200px 200px #0d0d0e6e; /* mark the inset */
}


.article-four {
    background: url(/assets/images/image4.jpeg) no-repeat;
    background-size: cover;
    height: 248px;
    margin-top: 1rem; 
    position: relative;
    margin-left: 1rem;
    box-shadow: inset 200px 200px 200px 200px #0d0d0e6e; /* mark the inset */
}


.article-five {
    background: url(/assets/images/image5.jpeg) no-repeat;
    background-size: cover;
    height: 376px;
    margin: 1rem 0rem;
    box-shadow: inset 200px 200px 200px 200px #0d0d0e6e; /* mark the inset */
    position: relative;
}
.label-five {
    position: absolute;
    top: 12rem;
    padding: 1rem;
}
.title-five {
    position: absolute;
    top: 14rem;
    font-size: 32px;
    color: white;
    font-weight: 900;
    margin:2rem 1rem;
}
.trending-articles h2 {
    text-align: center;
    color: #a7aab2;
    font-family: Trump Soft Pro,Arial Narrow,sans-serif;
}

.trending-articles {
    background-color: #f7f8f8;
    padding: 5rem 15rem;
}

.trending-item {
    justify-content: space-between;
    gap: 3rem;
text-align: center;

}

.trending-item li a{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    
}
.trending-item li{

    content: counter(li); color: rgba(255, 0, 255, 0.541); font-size: 1.5rem;
    padding: 1rem;
    max-width: 290px;
    max-height: 100px;

}  

.trending-item li a:hover {
    text-decoration: underline magenta solid 2px;
}

.latest-stories img {
    max-width: 280px;
    height: auto;
}
.title-stories{
    font-size: 32px;
    font-weight: bold;
    padding: 5rem 22rem;
}
.stories-one {
    grid-template-areas: ". stories stories stories stories .";
}
.stories {
    grid-area: stories;
    justify-self: center;
}
.story {
    margin: 1rem ;
    max-width: 280px;
}
.story a {
    color: black;
}
.story a:hover {
text-decoration: underline solid 2px rgba(255, 0, 255, 0.24);
}
.btn-news {
    padding: 0 1rem;
    background: transparent;
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.274);
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.chanels {
    background-color: #f7f8f8;
    padding:6rem 20rem;
}
.chanels-title{
    font-size: 34px;
    font-weight: bold;

}

.chanels-wrap {
    justify-content: space-between;
    padding-top: 5rem;
}

.chanels-wrap img:hover{
    cursor: pointer;
}
.btn-wrap {
    padding-top: 3rem;
    padding-left: 50%;
    padding-bottom: 7rem;
}
.subscribe {
    background: url(/assets/images/background.jpg) no-repeat;
     background-size: cover;
    color: white;
    padding: 10rem;
}

.title-sub{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.subtitle-sub {
    margin-top: 1rem;
    text-align: center;
}

.button-wrap {
    justify-content: center;
    margin-top: 1rem;
}
.input-mail {
    height: 48px;
    width: 721px;
}
.btn-sub {
    background-color: #cc0099;
    height: 52px;
    width: 120px;
    border: none;
    box-shadow: none;
    align-self: center;
    color: white;
    font-weight: bold;
}

.title-video {
    font-size: 36px;
    padding-left: 25%;
    padding-top: 10%;
    padding-bottom: 2%;
    font-weight: bold;
}

.video-wrap {
    padding-top: 5rem;
    justify-content:center ;
    gap:1.5rem;
}

.video-wraper {
    padding-bottom: 2rem;
}
 

.video-playlist div {
    width: 270px;
    font-weight: 500;
}

.video-section {
    background-color: #f7f8f8;
    padding-bottom: 5rem;

}
.under-left {
    max-width: 50%;
}

.under-video{
    padding: 5rem 20.5rem ;
    justify-content: space-around;
    gap: 1rem;
}

.under-reach {
    font-size: 16px;
    color: rgba(214, 4, 214, 0.801);
    margin-bottom: 1rem;
}
.under-title {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}
.under-text
{
    font-size: 16px;
    color: rgb(66, 61, 61);
    margin-bottom: 2rem;

}
.btn-touch {
    height: 40px;
    width: 150px;
    font-size: 12px;
    background-color: #00cccc;
    color: white;
}

.sponsors {
    margin-top: 3rem;
    background: url(/assets/images/sponsors.png) no-repeat;
    background-size: cover;
    height: 88px;
    width: 1680px;
    align-self: center;
}

.prefooter {
    background-color: black;
}
 .prelogo {
     padding-top: 2rem;
     padding-left: 20rem;
 }
 
 .more{
     padding-left: 25rem;
 }
 .about {
     padding-left: 10rem;
 }
.more li, .about li {
    margin-bottom: 0.6rem;
}
 .more a
 , .about a{
     color: turquoise;
     font-size: 18px;
 
 }
 .more div, 
 .about div {
     color:white;
     font-size: 18px;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-bottom: 1rem;
 }
 .prefooter {
     border-bottom: solid 1px gray;
     padding: 2rem 0;
 }

 .footer {
     background-color: black;
     color: grey;
     text-align: center;
     padding: 5rem 0;
 }
.footer a {
    color:white;
}
